@charset "utf-8";

.btnGoBackUp{
    right: 0px;
    margin: 8px;
    position: absolute;
    cursor: pointer;
    z-index: 3000;
	width:11em;
	padding: 0;
	margin-right: 60px;
}

.im-dialog_pinned .btnGoBackUp
{
	top: 0px;
    
}

.btnGoBackUp,
.im-dialog_pinned.im-dialog_pinned-collapsed .btnGoBackUp{
	top: 48px;
}




.btnGoBackUp button::before{
	content:"Прокрутить туда, где прервали сбор";
}

#gz_auto_scroll_btn{
    position: absolute;
    right: 100%;
    margin:8px;
    top: 100%;
    margin-right: 60px;
    width: 13.2em;
    padding: 0;
}

#root.im-layout-infopanel #gz_auto_scroll_btn
{
	margin-right: 350px;
}


#gz_save_btn,
#gz_files_btn
{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:67px;
	padding:0;
	height: 100%;
}
#gz_files_btn{
	right:0;
	left:auto;
}

#gz_files_btn::before{
	content:"Файлы";
}

#gz_save_btn::before{
	content:"сохранить *.mhtml ";
    font-size:0.9em;
	display: inline-block;
}




.gzMenu .gzPreview::after{
    content:"Собранная .html история чата (предпросмотр)";
    position:absolute;
	top:100%;
	left:0;
	right:10px;
	margin:6px 40px;
	padding:5px;
	border-radius:10px;
    white-space:nowrap;
	text-align:center;
	font-size:0.75em;
    background:rgba(var(--theme-color-chat_environment));
}

#gz_json_chat_btn,
#gz_json_all_btn
{
	position:absolute;
    left:67px;
	height:28px;
    width:225px;
	text-align:left;
}
#gz_json_chat_btn{
	top: 0;
}
#gz_json_all_btn{
	bottom:0;
}

.gzPreview button m::after{
	content:" сооб";
}
.gzPreview button c::after{
	content:" конт";
}
#gz_json_chat_btn c::after{
	content:" участ";
}
.gzPreview button m,
.gzPreview button c
{
	float:right;
	font-size: 0.8em;
	margin-left: 0.2em;
	white-space:nowrap;
}
#gz_save_btn m{
	float:none;
}
#gz_files_btn f{
	font-size: 0.8em;
	float:none;
	display:block;
}


#root.gzSave .gzMenu .gzSave{
	display:block;
}
#root.gzSave .gzMenu .gzPreview,
#root.gzSave .gzMenu .gzThanks
{
	display:none;
}


#root.gzSave .gzMenu{
	right:0px;
    font-size: 0.95em;
    line-height: 1.8em;
	left: 280px;
	min-width:200px;
	margin-left: 200px;
    margin-right: 50px;
    align-items: flex-start;
}

#root.gzSave #mainPagesContReact.gzBeware:hover::before{
	display:none;
}

.gzScanning::before,
#mainPagesContReact.gzBeware:hover::before
{
	content:"⚠️ ВНИМАНИЕ ⚠️\A Выбор другого чата очистит .mhtml историю этого чата!\A\A\A Кликните на этом поле, чтобы продолжить.";
	white-space: pre-wrap; 
	position:absolute;
	top:0; left:0;
	right:0; bottom:0;
	background:rgb(0 0 0 / 73%);
	color:white;
	z-index: 3000;
	display: flex;
    align-items: center;
    text-align: center;
	justify-content: center;
}

.gzScanning::before
{
	content:"Идет сбор истории.\A Чтобы остановить нажмите где угодно на затененной области.\A\A ⚠️После сигнала о завершении обязательно проверьте дошли ли вы до конца, и если нет - продолжите сбор⚠️";
}

#gz_haalp{
	position:relative;
}

#gz_haalp ul{
	display:none;
    background: rgba(var(--theme-color-base_globalwhite));
    border: solid 1px rgba(var(--theme-color-base_bright));
    border-radius: 14px;
    min-width: 266px;
    text-align: left;
    padding: 10px;
    color: rgba(var(--theme-color-text_solid));
    position:absolute;
	top:0;
	right:0;
	line-height: 1.6;
}

#gz_haalp ul dd{
	text-align: right;
}
#gz_haalp a{
	color:rgba(var(--theme-color-text_primary));
}

#gz_haalp ul li{
	list-style-position: inside;
}

#gz_haalp:hover ul{
	display:block;

}

.gzMenu .gzSave button{
	display:inline-block;
}

#root.gzSave .gzMenu .gzSave{
	height: 100%;
    width: 230px;
    overflow: visible;
	display:block;
	text-align:left;
	padding: 0 10px;
	background:rgba(var(--theme-color-base_globalwhite));
}



#root.gzSave .gzMenu i{
    background-color: rgba(var(--theme-color-chat_secondary));
    color: rgba(var(--theme-color-text_solid));
    border-radius: 12px;
    font-style: normal;
    padding: 2px;
}



